
.blocks-gallery-grid {
	list-style: none;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-auto-rows: 15vh;
	grid-gap: 5px;
	grid-auto-flow: dense;
	margin-bottom: 3rem;

	.blocks-gallery-item {
		border: 1px solid rgba(0,0,0,0.15);
		max-width: 100%;
		cursor: pointer;

		&:first-child {
			grid-column: span 3;
			grid-row: span 3;
			cursor: initial;
		}

		figure {
			height: 100%;
			width: 100%;
			margin: 0;
		}

		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
			background: #292929;
		}
	}
	@media (max-width: $md) {
		display: flex;
		flex-wrap: wrap;
		grid-gap: 0;
		margin: 0 -4px;

		.blocks-gallery-item {
			width: 25%;
			padding: 0 4px;
			border: 0;
			height: calc(25px + 10vw);
			margin-bottom: 8px;

			&:first-child {
				width: 100%;
				height: 40vh;
				
				img {
					object-fit: contain;
				}
			}
		}
	}
}

.wp-block-gallery {
	&.columns-2 {
		@media (min-width: $md) {
			.blocks-gallery-grid {
				grid-auto-flow: dense;
				grid-auto-rows: 17vh;

				.blocks-gallery-item {
					&:first-child {
						grid-column: span 3;
						grid-row: span 4;
						cursor: initial;

						img {
							object-fit: contain;
						}
					}
				}
			}
		}
	}

	&.reversed {
		@media (min-width: $md) {
			.blocks-gallery-grid {
				grid-auto-flow: column;
				grid-auto-rows: 17vh;

				.blocks-gallery-item {
					&:first-child {
						grid-column: span 1;
						grid-row: span 1;
					}

					&:last-child {
						grid-column: span 3;
						grid-row: span 3;
						cursor: initial;

						img {
							object-fit: cover;
						}
					}
				}
			}
		}
	}
}

.wedding-gallery-1 {
	margin: 0;
	.blocks-gallery-grid {
		margin-bottom: 5px;
	}
}
