$dark: #212529;
$white: #fff;
$light: $white;
$grey: #888;
$maroon: #992226;
$cream: #fdf6c9;
$cream-dark: #ccc27e;
$primary: $maroon;
$secondary: $grey;
$accent: $cream;
$accent-dark: $cream-dark;
$font-size-root: 16px;
$font-size-base: 1rem;
$body-color: $dark;
$container-padding-x: 1.5rem;
$radius: 3px;
$sm: 500px;
$md: 768px;
$lg: 992px;
$xl: 1300px;
$font-sans-serif: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
"Courier New", monospace;
$font-cursive: 'Dancing Script', cursive;
